{
	"presets": [ 
		"es2015",
		"stage-0",
		"react"
	],
	"plugins": [	
		"syntax-async-generators",
		"syntax-class-properties",
	    "syntax-decorators",
	    "syntax-object-rest-spread",

		"transform-runtime",
	    "transform-class-properties",
	    "transform-decorators-legacy",
	    "transform-object-rest-spread"
	]
}